// Navigation code here

nav{
    width: 100%;
    background: @nav-bg;
    border-bottom: 2px solid @nav-border;
    .navFont();
    .flexContainer(column, flex-start, center);

    .nav-links{
        width: 350px;
        .flexContainer(row, space-evenly, center);
        margin-top: 1%;

        a{
            text-decoration: none;
            .navFont();
            font-size: 1.6rem;
        }
    }
}